@import url("czcionka.css");

#menu{
	width: 40%;
	float: left;
	outline: 1px solid black;
}

#zawartosc{
	width: 60%;
	float: left;
	outline: 1px solid black;
}

#baner{
	width: 100%;
}

img{
	width: 1520px;
	height: 200px;
}
